:root {
  --custom-pink: hsl(340, 100%, 85%);
  --border-light-blue: hsl(195, 53%, 96%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-image: linear-gradient(pink 20%, lightblue 40%);
  line-height: 2;
}

h1 {
  font-size: 4rem;
  color: var(--custom-pink);
}

p {
  color: #454545;
  font-size: 1.1rem;
}

img {
  display: block;
  width: 100%;
}

/* Headings */

.offers-heading {
  font-size: 1.3rem;
  font-weight: normal;
  padding: 0 0 1rem;
}

.offers-heading-wwd {
  font-size: 1.3rem;
  font-weight: normal;
  padding-bottom: 0.7rem;
}

/********** Header **********/

.img-class {
  height: 80vh;
  object-fit: cover;
}

.top-btn-text {
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  left: 20%;
  top: 25px;
  font-size: 1.2rem;
}

.top-btn-text a {
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 4px #333;
}

.top-btn-text a:hover {
  color: var(--custom-pink);
}

/* First Row Section */

.first-row {
  padding: 4rem 6rem;
  max-width: 900px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  bottom: 150px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.first-row-article {
  font-size: 1.2rem;
}

/*********** Offers **********/

.offers-container {
  display: grid;
  grid-template-columns: 17.5rem 17.5rem 17.5rem;
  column-gap: 30px;
  justify-content: center;
  width: 100%;
  position: relative;
  bottom: 110px;
}

.offers-cards {
  background-color: #fff;
  padding: 10px 25px 40px;
}

.icons {
  font-size: 3.2rem;
  color: var(--custom-pink);
}

/* Who We Are Section */

.whoweare {
  background-color: #fff;
  max-width: 900px;
  padding: 30px 20px;
  margin: auto;
  position: relative;
  bottom: 70px;
  display: flex;
  align-items: center;
}

.hwa-heading {
  width: 100%;
  margin: 0 20px;
}

.hwa-p {
  margin: 20px 30px 20px 50px;
  text-align: left;
}

/*********** Special Menu 1 **********/

.spec-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  background-color: var(--border-light-blue);
}

.spec-menu-image {
  max-width: 600px;
  height: 500px;
  object-fit: cover;
  object-position: 20%;
  position: relative;
}

.spec-menu-table {
  background-color: #fff;
  max-width: 500px;
  height: 100%;
  border: 10px solid lightblue;
  position: relative;
  right: 4rem;
  padding: 40px;
  text-align: left;
  box-shadow: 0px 0px 2.2px rgba(0, 0, 0, 0.021),
    0px 0px 5.3px rgba(0, 0, 0, 0.029), 0px 0px 10px rgba(0, 0, 0, 0.036),
    0px 0px 17.9px rgba(0, 0, 0, 0.042), 0px 0px 33.4px rgba(0, 0, 0, 0.051),
    0px 0px 80px rgba(0, 0, 0, 0.07);
}

.container1 {
  padding: 7% 0;
}

.container2 {
  padding-bottom: 5%;
}

.spec-menu-table h2 {
  color: lightblue;
  font-size: 2em;
}

.spec-menu-table hr {
  border: none;
  border-bottom: 1px solid lightblue;
  width: 50px;
  margin: 20px 0;
}

.spec-p {
  margin-bottom: 30px;
}

.btn-more {
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  border: 1px solid lightblue;
  background-color: #fff;
  color: #111;
  cursor: pointer;
  text-decoration: none;
}

.btn-more:hover {
  background-color: lightblue;
  color: #fff;
}

/*********** Special Menu Second **********/

.spec-menu-second-container {
  display: flex;
  background-color: #fff;
  padding: 7% 5%;
}

.spec-menu-second-image {
  max-width: 600px;
  height: 500px;
  object-fit: cover;
  object-position: 30%;
  position: relative;
}

.spec-menu-second-table {
  background-color: #fff;
  max-width: 500px;
  height: 100%;
  border: 10px solid pink;
  position: relative;
  left: 4rem;
  z-index: 1;
  padding: 40px;
  text-align: left;
  box-shadow: 0px 0px 2.2px rgba(0, 0, 0, 0.021),
    0px 0px 5.3px rgba(0, 0, 0, 0.029), 0px 0px 10px rgba(0, 0, 0, 0.036),
    0px 0px 17.9px rgba(0, 0, 0, 0.042), 0px 0px 33.4px rgba(0, 0, 0, 0.051),
    0px 0px 80px rgba(0, 0, 0, 0.07);
}

.spec-menu-second-table h2 {
  color: pink;
  font-size: 2em;
}

.spec-menu-second-table hr {
  border: none;
  border-bottom: 1px solid pink;
  width: 50px;
  margin: 20px 0;
}

.btn-spec-menu-second {
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  border: 1px solid pink;
  background-color: #fff;
  color: #111;
  cursor: pointer;
  text-decoration: none;
}

.btn-spec-menu-second:hover {
  background-color: pink;
  color: #fff;
}

/* What We Do Section */

.wwd-container {
  background-color: var(--border-light-blue);
}

.wwd-heading-container {
  padding: 3rem 1rem;
}

.wwd-heading {
  padding: 0 1rem;
}

/* WWD Offers */

.wwd-offers-container {
  text-align: left;
  display: grid;
  grid-template-columns: 280px 280px 280px;
  grid-column-gap: 30px;
  justify-content: center;
}

.wwd-offers-card {
  background-color: #fff;
  box-shadow: 0px 0px 1.3px rgba(0, 0, 0, 0.019),
    0px 0px 3.2px rgba(0, 0, 0, 0.027), 0px 0px 6.6px rgba(0, 0, 0, 0.034),
    0px 0px 13.5px rgba(0, 0, 0, 0.042), 0px 0px 37px rgba(0, 0, 0, 0.06);
}

.wwd-images {
  height: 250px;
  object-fit: cover;
}

.wwd-offers-child {
  padding: 10px 25px 40px;
}

.wwd-offers-p {
  text-align: left;
}

.location-info-container {
  max-width: 900px;
  height: 250px;
  background-color: #fff;
  margin: 4rem auto 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 1.3px rgba(0, 0, 0, 0.019),
    0px 0px 3.2px rgba(0, 0, 0, 0.027), 0px 0px 6.6px rgba(0, 0, 0, 0.034),
    0px 0px 13.5px rgba(0, 0, 0, 0.042), 0px 0px 37px rgba(0, 0, 0, 0.06);
}

/* Location Section */

.location {
  display: flex;
  justify-content: center;
}

.location-image {
  height: 500px;
  object-fit: cover;
  object-position: 100% 0%;
}

.map {
  position: absolute;
  width: 100%;
  max-width: 900px;
  height: 350px;
  box-shadow: 0px 0px 1.3px rgba(0, 0, 0, 0.019),
    0px 0px 3.2px rgba(0, 0, 0, 0.027), 0px 0px 6.6px rgba(0, 0, 0, 0.034),
    0px 0px 13.5px rgba(0, 0, 0, 0.042), 0px 0px 37px rgba(0, 0, 0, 0.06);
}

/* Footer Section */

footer {
  padding: 5%;
  background-color: #454545;
  color: #fff;
}

.footer-p {
  color: #fff;
}

/* Media Queries */

@media (max-width: 1171px) {
  .spec-menu-container {
    flex-direction: column;
  }

  .spec-menu-image {
    object-position: 0%;
    position: static;
    margin: auto;
  }

  .spec-menu-second-table {
    order: 1;
  }

  .spec-menu-table,
  .spec-menu-second-table {
    margin: 0 auto;
    position: static;
  }

  /* Special Menu Second */

  .spec-menu-second-container {
    flex-direction: column;
  }

  .spec-menu-second-image {
    object-position: 40%;
    position: static;
    margin: auto;
  }
}

@media (max-width: 1001px) {
  .first-row,
  .whoweare,
  .location-info-container,
  .map {
    width: 800px;
  }

  .offers-container {
    grid-template-columns: 15.4rem 15.4rem 15.4rem;
  }

  .icons {
    font-size: 3rem;
  }

  .wwd-offers-container {
    text-align: left;
    display: grid;
    grid-template-columns: 15.4rem 15.4rem 15.4rem;
    grid-column-gap: 30px;
    justify-content: center;
  }
}

@media (max-width: 881px) {
  body {
    line-height: 1.5;
  }

  h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .first-row {
    width: 700px;
    padding: 3.5rem 4rem;
  }

  .offers-container {
    grid-template-columns: 13.33rem 13.33rem 13.33rem;
  }

  .icons {
    font-size: 2.6rem;
  }

  .whoweare,
  .location-info-container,
  .map {
    max-width: 700px;
  }

  .wwd-offers-container {
    grid-template-columns: 13.33rem 13.33rem 13.33rem;
  }
}

@media (max-width: 761px) {
  h1 {
    font-size: 2.2rem;
  }

  .top-btn-text {
    left: 5%;
  }

  .first-row {
    width: 90%;
    padding: 3rem;
  }

  .offers-container {
    grid-template-columns: auto;
    row-gap: 30px;
    padding: 0 2rem;
  }

  .offers-cards {
    padding: 2rem;
  }

  .whoweare {
    width: 90%;
  }

  /* What We Do */

  .wwd-heading-container {
    padding: 3rem 1rem;
  }

  .wwd-offers-container {
    grid-template-columns: auto;
    row-gap: 30px;
    padding: 0 1rem;
  }

  .wwd-p {
    padding: 1rem 0 0;
  }

  .wwd-offers-card {
    width: auto;
    margin: 0 1rem;
  }

  .wwd-offers-child {
    padding: 2rem 1rem;
    text-align: center;
  }

  .wwd-offers-p {
    text-align: center;
  }

  .pancakes {
    object-position: 100% 45%;
  }

  .wedding-cake {
    object-position: 100% 15%;
  }

  .four-cupcakes {
    object-position: 100% 30%;
  }

  /* Location */

  .location-info-container {
    width: 88%;
    height: auto;
    padding: 4rem 1rem;
  }

  .map {
    width: 88%;
  }
}

@media (max-width: 471px) {
  h1 {
    font-size: 2rem;
  }

  .img-class {
    height: 60vh;
  }

  .first-row {
    padding: 2rem;
    width: 90%;
  }

  .whoweare {
    padding: 2rem 0.5rem;
    position: relative;
    display: block;
    width: 90%;
  }

  .hwa-heading {
    margin: auto;
  }

  .hwa-p {
    padding: 0;
    text-align: left;
    margin: 20px;
    text-align: center;
  }

  .spec-menu-image {
    height: 400px;
    margin-top: 2rem;
  }

  .spec-menu-table {
    padding: 2rem 1rem;
    text-align: center;
  }

  .spec-menu-table hr,
  .spec-menu-second-table hr {
    margin: 20px auto;
  }

  .spec-menu-second-image {
    height: 400px;
    margin: 0 auto;
  }

  .spec-menu-second-table {
    padding: 2rem 1rem;
    text-align: center;
  }

  .wedding-cake {
    object-position: 80%;
  }

  .four-cupcakes {
    object-position: 50%;
  }
}

@media (max-width: 281px) {
  body {
    line-height: 1.4;
  }

  h1,
  .spec-menu-table h2,
  .spec-menu-second-table h2 {
    font-size: 1.6rem;
  }

  h2,
  .first-row-article,
  .offers-heading,
  .offers-heading-wwd {
    font-size: 1.2rem;
  }

  .icons {
    font-size: 2rem;
  }

  .top-btn-text {
    font-size: 1em;
  }

  .first-row {
    padding: 2rem 1rem;
  }

  .offers-container {
    padding: 0 1rem;
  }

  .offers-cards {
    padding: 2rem 1rem;
  }

  .whoweare {
    padding: 2rem 0;
  }

  .spec-menu-image,
  .spec-menu-table,
  .spec-menu-second-image,
  .spec-menu-second-table {
    width: 100%;
  }

  .btn-more-container {
    display: flex;
  }

  .btn-more,
  .btn-spec-menu-second {
    width: 100%;
    padding: 10px 0;
  }

  .wwd-offers-container {
    padding: 0;
  }
}
